name: Build Rustfinity Runner

on:
  push:
    branches:
      - main
      - staging
    paths:
      - ".github/workflows/rustfinity-runner.yaml"
      - "crates/rustfinity-runner/**"
      - "challenges/**"
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        run: echo "${{ github.token }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Determine tag
        id: tag
        run: |
          if [[ "${GITHUB_REF#refs/heads/}" == "main" ]]; then
            echo "::set-output name=tag::latest"
          elif [[ "${GITHUB_REF#refs/heads/}" == "staging" ]]; then
            echo "::set-output name=tag::staging"
          fi

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          file: crates/rustfinity-runner/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/rustfinity-runner:${{ steps.tag.outputs.tag }}
